<!DOCTYPE html>
<html lang="pt-br">
</head>
   <meta charset="UTF-8">
   <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
   </title> Primeira pagina com python </title>
</head>
<body>
        <form action="/processar" method="POST">
            <label>Digite seu nome: </label>
            <input type="text" name = "nome">
            <br> <br>
            <label> Digite um número: </label>
            <input type="number" name="numero">
            <br></br>
            <button type="submit">Enviar</button>
        </form>
         <p>{{resultadoForm}}</p>
         
     
     </form>
     
     

    <h1>{{texto}}</h1> <!-- onde o python ira preencher-->

</body>
</html>

   